<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Add New Post</h1>
    <form action="/blogs" method="POST">
        Title: <input type="text" name="title" /><br />
        Description: <input type="text" name="description" /><br/>
        Image: <input type="textarea" name="img" /><br />
        Body: <input type="textarea" name="body"/><br />
        Topic: <input type="text" name="topic" /><br />
        Duration: <input type="number" name="duration" /><br />
        Author: <input type="text" name="author" /><br />
        <input type="submit" name="" value="Add Post" />
    </form>
</body>


</html>