


h1 {
    font-family: Snell Roundhand, cursive;
}

nav {
    text-align: right;
}

h2 {
    color: black;
}
a:link {
     text-decoration: none; 
}

.container {
    text-align: center;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.btn-primary {
    --button-color: black;
   
}